
.gradle/
local.properties
.DS_Store
app/build/*
!app/build/outputs/
app/build/outputs/mapping
app/build/outputs/logs
app/build/outputs/apk/androidTest
app/build/outputs/sdk-dependencies


captures/
.idea/
*.iml
*~
.weblate
*.class
app/debug/
app/release/

# vscode / eclipse files
*.classpath
*.project
*.settings
bin/
.vscode/
*.code-workspace
